<footer class="footer d-flex justify-content-center flex-column align-items-center">
<div class="d-flex flex-row">
  <img src="assets/icons/left-fram.svg"  alt="left frame">
  <h4 class="white-color text-uppercase fs-2 fw-400">find us on social</h4>
  <img src="assets/icons/right-fram.svg" alt="left frame">
</div>
  <div class="d-flex flex-row justify-content-between mt-5 width-40 social-icons">
    <img src="assets/icons/Twitter.svg" alt="left frame">
    <img src="assets/icons/Telegram.svg" alt="left frame">
    <img src="assets/icons/Mediam.svg" alt="left frame">
    <img src="assets/icons/Discord-grey.svg" alt="left frame">
    <img src="assets/icons/linkedin.svg" alt="left frame">
    <img src="assets/icons/insta.svg" alt="left frame">
    <img src="assets/icons/Fb.svg" alt="left frame">
  </div>

  <div class="d-flex flex-row justify-content-between mt-5 width-80 sections">
   <span>Features</span>
   <span>How it works</span>
   <span>Token info</span>
   <span>About us</span>
   <span>Social media</span>
   <span>Terms of Service</span>
   <span>Privacy Policy</span>
  </div>

  <span class="copy-right">Copyright © 2022. All Rights Reserved by GaFi</span>
</footer>
