<section class="home d-flex flex-column align-items-center justify-content-center mt-10">
  <img src="assets/icons/icon.svg" class="space-ship-icon" spaceShip   alt="space ship icon"/>
  <div class="moon-travel-header">
    <span class="white-color text-center text-uppercase fs-5 fw-400">Moon TRAVEL</span>
  </div>
  <div class="moon-travel-sub-header">
    <span class="white-color text-center fs-2 fw-600">Cold fusion engines are waiting to get you anywhere</span>
  </div>
  <button class="ticket-button bg-green text-uppercase fw-400 fs-2 mt-1" (click)="navigateToPassenger()">BUY TICKETS</button>

  <app-timer-card class="mt-2"></app-timer-card>

  <app-booking-steps></app-booking-steps>
</section>
