<div class="steps-section mt-5 d-flex justify-content-start flex-column">
  <h5 class="fs-2 green-color fw-400">3 easy steps</h5>
  <span class="fs-5 fw-400 white-color text-uppercase">to fly with us</span>
  <div class="booking-steps d-flex flex-row justify-content-between mt-3">
    <div class="step d-flex flex-row">
      <img src="assets/img/step-1.svg" class="me-2" alt="booking first step"/>
      <div class="d-flex flex-column justify-content-center">
        <h4 class="white-color fs-2 fw-400">Enter your data</h4>
        <p class="fs-1">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece</p>
      </div>
    </div>
    <div class="step d-flex flex-row">
      <img src="assets/img/step-2.svg" class="me-2" alt="booking first step"/>
      <div class="d-flex flex-column justify-content-center">
        <h4 class="white-color fs-2 fw-400">Pick your seat</h4>
        <p class="fs-1">Popular belief Ipsum is not simply random text. It has roots in a piece of classical</p>
      </div>
    </div>
    <div class="step d-flex flex-row">
      <img src="assets/img/step-3.svg" class="me-2" alt="booking first step"/>
      <div class="d-flex flex-column justify-content-center">
        <h4 class="white-color fs-2 fw-400">Transfer ISK</h4>
        <p class="fs-1">Belief norem Isum is not simply random text. It has roots in a piece of classical</p>
      </div>
    </div>
  </div>
</div>
